{:aliases {:nrepl {:extra-deps {nrepl #:mvn{:version "0.5.1"}}},
           :rebel {:extra-deps #:com.bhauman{rebel-readline
                                             #:mvn{:version "RELEASE"}}}}}
